{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blogey{% endblock %}</title>
    
    {% block extendedhead %}{% endblock %}
    {% include 'head.html' %}
</head>
<body>

    {% include 'header.html' %}
    
    <div class="container">

      <div class="starter-template">
      <div ><img  src="{% static "assets/image/blogey_logo.png" %}" ></div>
      </div>
      <div class="starter-template">
       {% block content %}{% endblock %}
      </div>
    </div>
     

<script src = "{% static "assets/js/jquery.js"%}"></script>
<script type="text/javascript" src="{% static "assets/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/my.js" %}"></script>
</body>

  
  
</html>