{% extends 'base.html' %}
{% block content %}
<div class="container">
  
  <form  class="form-signin" action="/auth/ " method="POST">{% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="form-control" name = "username"  id = "username" placeholder="User Id" autofocus>
    <input type="password" class="form-control" name="password" id = "password"placeholder="Password">
    {% if errors %}
    <p class = "error" style ="color:red">Sorry, that's not a valid username or password</p>
  {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>
{% endblock %}