{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript">
	
</script>

<div class="view-post-template">

	<article>
		<section>
			<a href="/post/{{post.id}}/" class="title">{{post.title | safe}}</a>
			<h2 class="author">by <strong>{{post.author.username}}</strong> on {{post.createdDate |date:"M d, Y" }}</h2>
		</section>
		<p class="post-content">
				{{post.content  |safe}}		
		</p>
		{%if post.author == request.user %}
			<a href="/edit/{{post.id}}"><button type="button" class="btn btn-default">Edit Post</button></a>
			<a href="/delete/{{post.id}}"><button type="button" class="btn btn-default">Delete Post</button></a>
		{% endif %}
	</article>
	<input type="text" id="myText" style="display: none;" value={{post.id}}>
	<div class="row" >

		<div style="display: block" class="col-xs-12 col-sm-12 col-lg-12 col-md-12" >
			<form method="POST" action="/comment/{{post.id}}/">{% csrf_token %}
				<label for="comment">
					<textarea name="comment"  placeholder="comment.." required style="height:80px; width: 100%; border-radius: 5px"></textarea>
					<input type="submit" value="Comment" class="btn btn-primary" style="float:right; width:100px;">
				</label>
				
			</form>
		</div>
	</div>

	<div class="row" >
		<div id='ajaxcmnt' class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
			{% include 'ajaxviewPost.html' %}
		</div>


	</div>



  	

</div>
{% endblock %}
